@page
@model PresentacionesAspnetcoreBarberia.Pages.IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center mt-5">
    <h1 class="display-4" style="color: #D4AF37; font-weight: bold;">Bienvenido a Barbería JP</h1>
    <p class="lead">Selecciona una opción en el menú lateral para comenzar a administrar tu negocio.</p>
</div>