################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Barberia/LibreriaBarberia/Interfaces/ISedesNegocio.cs
